{{ $data := .Params.dfile }}
<tr>
  <th><a
    href="{{ .Permalink }}">{{ (index .Site.Data.bench $data).dbprofile }} <span class="classifier">{{ (index .Site.Data.bench $data).nuxeonodes }}nodes {{ (index .Site.Data.bench $data).classifier }}</span></a>
  </th>
  <td>
    <div class="dps">{{ (index .Site.Data.bench $data).import_dps }}</div>
  </td>
  <td>
    <div class="dps">{{ (index .Site.Data.bench $data).create_rps }}</div>
    <div class="time">
      <span class="avg">{{ (index .Site.Data.bench $data).create_avg }}</span>
      <span class="stddev">{{ (index .Site.Data.bench $data).create_std }}</span>
    </div>
  </td>
  <td>
    <div class="rps">{{ (index .Site.Data.bench $data).nav_rps }}</div>
    <div class="time">
      <span class="avg">{{ (index .Site.Data.bench $data).nav_avg }}</span>
      <span class="stddev">{{ (index .Site.Data.bench $data).nav_std }}</span>
    </div>
  </td>
  <td>
    <div class="rps">{{ (index .Site.Data.bench $data).update_rps }}</div>
    <div class="time">
      <span class="avg">{{ (index .Site.Data.bench $data).update_avg }}</span>
      <span class="stddev">{{ (index .Site.Data.bench $data).update_std }}</span>
    </div>
  </td>
  <td>
    <div class="rps">{{ (index .Site.Data.bench $data).crud_rps }}</div>
    <div class="time">
      <span class="avg">{{ (index .Site.Data.bench $data).crud_avg }}</span>
      <span class="stddev">{{ (index .Site.Data.bench $data).crud_std }}</span>
    </div>
  </td>
  <td>
    <div class="dps">{{ (index .Site.Data.bench $data).reindex_dps }}</div>
  </td>
  <td><div class="build"><a target="_blank"
    href="{{ (index .Site.Data.bench $data).build_url }}">{{ (index .Site.Data.bench $data).build_number }}</a></div></td>
</tr>
