{{ $data := .Params.dfile }}
<tr>
  <th>{{ (index .Site.Data.bench $data).dbprofile }}{{ (index .Site.Data.bench $data).classifier }}</th>
  <td><a href="{{ (index .Site.Data.bench $data).build_url }}">{{ (index .Site.Data.bench $data).build_number }}</a></td>
  <td>{{ (index .Site.Data.bench $data).import_dps }}</td>
  <td>{{ (index .Site.Data.bench $data).create_rps }}</td>
  <td>{{ (index .Site.Data.bench $data).nav_rps }}</td>
  <td>{{ (index .Site.Data.bench $data).update_rps }}</td>
  <td>{{ (index .Site.Data.bench $data).bench_rps }}</td>
  <td>{{ (index .Site.Data.bench $data).reindex_waitforasync_avg }}</td>
</tr>
