{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
{{ partial "header.html" . }}

<div class="row align-center is-black">
  <div class="small-12 medium-6 large-4 columns space-top-3 text-center">
    <h1 class="display">{{ .Title }}</h1>
  </div>
</div>

<div class="row align-center is-black">
  <div class="small-12 medium-6 large-4 columns space-bottom-3">
    <div class="content">
      {{ .Content }}
      {{ partial "passwordform.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}

  </body>
</html>
