{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
{{ partial "header.html" . }}
{{ $data := .Params.build_number }}
{{ $datapath := .Params.classifier }}
<div class="hero row cover padded is-bg-blue is-white" style="background-image: url('https://res.cloudinary.com/nuxeo/image/upload/w_1600,h_400,q_auto:eco,c_fill,g_center,dpr_auto,f_auto/backgrounds/duotone9');">
  <div class="large-8 medium-10 small-12 columns">
    <h1>
      {{ (index .Site.Data.custombench $data).bench_suite }}
      <span class="tag {{ (index .Site.Data.custombench $data).dbprofile }}">{{ (index .Site.Data.custombench $data).dbprofile }}</span>
    </h1>
    <p class="larger is-white">
      {{ .Date.Format "Mon, Jan 2, 2006" }}
    </p>
  </div>
</div>

<div class="row align-center is-bg-grey is-navy paddedt1 blog-section">
  <div class="small-12 medium-10 large-8 columns">
<div class="content container">
  <div class="post">
    <h2>Configuration</h2>
    <dl>
      <dt>Benchmark suite</dt>
      <dd>{{ (index .Site.Data.custombench $data).bench_suite }}</dd>
      <dt>Classifier</dt>
      <dd>{{ .Params.classifier }}</dd>
      <dt>Distribution</dt>
      <dd>{{ (index .Site.Data.custombench $data).distribution }}</dd>
      <dt>Date</dt>
      <dd>{{ (index .Site.Data.custombench $data).bench_date }}</dd>
      <dt>Backend</dt>
      <dd>{{ (index .Site.Data.custombench $data).dbprofile }}</dd>
      <dt>Nuxeo nodes</dt>
      <dd><span class="bold">{{ (index .Site.Data.custombench $data).nuxeonodes }}</span> * {{ (index .Site.Data.custombench $data).nuxeotype }}</dd>
      <dt>Database nodes</dt>
      <dd>{{ (index .Site.Data.custombench $data).dbnodes }} * {{ (index .Site.Data.custombench $data).dbtype }}</dd>
      <dt>Elasticsearch nodes</dt>
      <dd>{{ (index .Site.Data.custombench $data).esnodes }} * {{ (index .Site.Data.custombench $data).estype }}</dd>
      </dd>
      <dt>Number of documents</dt>
      <dd>{{ (index .Site.Data.custombench $data).total_docs }}</dd>
    </dl>


    {{ .Content }}

    <h2>Gatling benchmark</h2>
    <div class="table-overflow">
      <table class="result">
        <thead>
        <th>
          <div><span>Import</span></div>
        </th>
        <th>
          <div><span>Create</span></div>
        </th>
        <th>
          <div><span>Read</span></div>
        </th>
        <th>
          <div><span>Search</span></div>
        </th>
        <th>
          <div><span>Update</span></div>
        </th>
        <th>
          <div><span>CRUD</span></div>
        </th>
        </thead>
        <tbody>
        <tr class="{{ (index .Site.Data.custombench $data).dbprofile }}">
          <td>
            <div class="dps"><a href="#massimport">{{ (index .Site.Data.custombench $data).import_dps }}</a></div>
          </td>
          <td>
            <div class="dps"><a href="#create">{{ (index .Site.Data.custombench $data).create_rps }}</a></div>
            <div class="time">
              <span class="avg">{{ (index .Site.Data.custombench $data).create_avg }}</span>
              <span class="stddev">{{ (index .Site.Data.custombench $data).create_std }}</span>
            </div>
          </td>
          <td>
            <div class="rps"><a href="#read">{{ (index .Site.Data.custombench $data).nav_rps }}</a></div>
            <div class="time">
              <span class="avg">{{ (index .Site.Data.custombench $data).nav_avg }}</span>
              <span class="stddev">{{ (index .Site.Data.custombench $data).nav_std }}</span>
            </div>
          </td>
          <td>
            {{ if ne (index .Site.Data.custombench $data).search_rps nil }}
            <div class="rps"><a href="#search">{{ (index .Site.Data.custombench $data).search_rps }}</a></div>
            <div class="time">
              <span class="avg">{{ (index .Site.Data.custombench $data).search_avg }}</span>
              <span class="stddev">{{ (index .Site.Data.custombench $data).search_std }}</span>
            </div>
            {{ else }}
            NA
            {{ end }}
          </td>
          <td>
            <div class="rps"><a href="#update">{{ (index .Site.Data.custombench $data).update_rps }}</a></div>
            <div class="time">
              <span class="avg">{{ (index .Site.Data.custombench $data).update_avg }}</span>
              <span class="stddev">{{ (index .Site.Data.custombench $data).update_std }}</span>
            </div>
          </td>
          <td>
            <div class="rps"><a href="#crud">{{ (index .Site.Data.custombench $data).crud_rps }}</a></div>
            <div class="time">
              <span class="avg">{{ (index .Site.Data.custombench $data).crud_avg }}</span>
              <span class="stddev">{{ (index .Site.Data.custombench $data).crud_std }}</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>Details</h2>
    <a name="massimport" class="suite"></a>
    <h3>Mass import</h3>
    <div>This simulation uses the nuxeo-importer over the loaded instance.</div>
    <dl>
      <dt>Throughput sync</dt>
      <dd class="dps">{{ (index .Site.Data.custombench $data).import_dps }}</dd>
      <dt>Documents imported</dt>
      <dd>{{ (index .Site.Data.custombench $data).import_docs }}</dd>
      <dt>Total duration</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).import_duration }}</dd>
      <dt>Duration sync</dt>
      <dd class="timems">{{ (index .Site.Data.custombench $data).import_massimportwiththreads_avg }}</dd>
      <dt>Residual duration async</dt>
      <dd class="timems">{{ (index .Site.Data.custombench $data).import_waitforasyncjobs_avg }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim10massimport/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim10massimport/detail/index.html">» Gatling report</a>
      </dd>
    </dl>

    <a name="create" class="suite"></a>
    <h3>Create document using REST</h3>
    <div>This simulation creates new documents without attachement on top of the existing instance.</div>
    <dl>
      <dt>Throughput sync</dt>
      <dd class="dps">{{ (index .Site.Data.custombench $data).create_rps }}</dd>
      <dt>Response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).create_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).create_std }}</span><br>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).create_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).create_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).create_p95 }}</div>
      </dd>
      <dt>Document created</dt>
      <dd>{{ (index .Site.Data.custombench $data).create_count }}</dd>
      <dt>Error</dt>
      <dd class="pcterr">{{ (index .Site.Data.custombench $data).create_percentError }}</dd>
      <dt>Concurrency</dt>
      <dd>{{ (index .Site.Data.custombench $data).create_user }}</dd>
      <dt>Duration sync</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).create_duration }}</dd>
      <dt>Residual duration async</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).createasync_duration }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim20createdocuments/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim20createdocuments/detail/index.html">» Gatling report</a>
      </dd>
    </dl>

    <a name="read" class="suite"></a>
    <h3>Read using REST</h3>
    <div>This simulation reads random documents and folders with different kind of metadata.</div>
    <dl>
      <dt>Throughput</dt>
      <dd class="rps">{{ (index .Site.Data.custombench $data).nav_rps }}</dd>
      <dt>Response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).nav_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).nav_std }}</span><br>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).nav_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).nav_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).nav_p95 }}</div>
      </dd>
      <dt>Requests</dt>
      <dd>{{ (index .Site.Data.custombench $data).nav_count }}</dd>
      <dt>Error</dt>
      <dd class="pcterr">{{ (index .Site.Data.custombench $data).nav_percentError }}</dd>
      <dt>Concurrency</dt>
      <dd>{{ (index .Site.Data.custombench $data).nav_user }}</dd>
      <dt>Duration</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).nav_duration }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30navigation/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30navigation/detail/index.html">» Gatling report</a>
      </dd>
    </dl>

    <a name="navigation" class="suite"></a>
    <h3>Navigation using JSF</h3>
    <div>This simulation uses the JSF interface to navigate on folder and document tabs.</div>
    <dl>
      <dt>Throughput</dt>
      <dd class="rps">{{ (index .Site.Data.custombench $data).navjsf_rps }}</dd>
      <dt>Response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).navjsf_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).navjsf_std }}</span><br>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).navjsf_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).navjsf_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).navjsf_p95 }}</div>
      </dd>
      <dt>Requests</dt>
      <dd>{{ (index .Site.Data.custombench $data).navjsf_count }}</dd>
      <dt>Error</dt>
      <dd class="pcterr">{{ (index .Site.Data.custombench $data).navjsf_percentError }}</dd>
      <dt>Concurrency</dt>
      <dd>{{ (index .Site.Data.custombench $data).navjsf_user }}</dd>
      <dt>Duration</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).navjsf_duration }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30navigationjsf/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30navigationjsf/detail/index.html">» Gatling report</a>
      </dd>
    </dl>

    <a name="search" class="suite"></a>
    <h3>Search using REST</h3>
    {{ if ne (index .Site.Data.custombench $data).search_count nil }}
    <div>This simulation performs random NXQL searches relying on Elasticsearch.</div>
    <dl>
      <dt>Throughput</dt>
      <dd class="rps">{{ (index .Site.Data.custombench $data).search_rps }}</dd>
      <dt>Response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).search_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).search_std }}</span><br>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).search_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).search_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).search_p95 }}</div>
      </dd>
      <dt>Requests</dt>
      <dd>{{ (index .Site.Data.custombench $data).search_count }}</dd>
      <dt>Error</dt>
      <dd class="pcterr">{{ (index .Site.Data.custombench $data).search_percentError }}</dd>
      <dt>Concurrency</dt>
      <dd>{{ (index .Site.Data.custombench $data).search_user }}</dd>
      <dt>Duration</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).search_duration }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30search/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30search/detail/index.html">» Gatling report</a>
      </dd>
    </dl>
    {{ else }}
    No search simulation available.
    {{ end }}

    <a name="update" class="suite"></a>
    <h3>Update REST</h3>
    <div>This simulation performs concurrent update of documents metadata using REST.</div>
    <dl>
      <dt>Throughput sync</dt>
      <dd class="rps">{{ (index .Site.Data.custombench $data).update_rps }}</dd>
      <dt>Response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).update_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).update_std }}</span><br>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).update_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).update_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).update_p95 }}</div>
      </dd>
      <dt>Requests</dt>
      <dd>{{ (index .Site.Data.custombench $data).update_count }}</dd>
      <dt>Error</dt>
      <dd class="pcterr">{{ (index .Site.Data.custombench $data).update_percentError }}</dd>
      <dt>Concurrency</dt>
      <dd>{{ (index .Site.Data.custombench $data).update_user }}</dd>
      <dt>Duration sync</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).update_duration }}</dd>
      <dt>Residual duration async</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).updateasync_duration }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30updatedocuments/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim30updatedocuments/detail/index.html">» Gatling report</a>
      </dd>
    </dl>

    <a name="crud" class="suite"></a>
    <h3>CRUD on documents in REST</h3>
    <div>This simulation performs concurrent Create Read Update and Delete operations on document using REST.</div>
    <dl>
      <dt>Throughput sync</dt>
      <dd class="rps">{{ (index .Site.Data.custombench $data).crud_rps }}</dd>
      <dt>Response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).crud_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).crud_std }}</span><br>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).crud_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).crud_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).crud_p95 }}</div>
      </dd>
      <dt>Delete response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).crud_deletefile_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).crud_deletefile_std }}</span><br>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).crud_deletefile_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).crud_deletefile_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).crud_deletefile_p95 }}</div>
      </dd>
      <dt>Requests</dt>
      <dd>{{ (index .Site.Data.custombench $data).crud_count }}</dd>
      <dt>Error</dt>
      <dd class="pcterr">{{ (index .Site.Data.custombench $data).crud_percentError }}</dd>
      <dt>Concurrency</dt>
      <dd>{{ (index .Site.Data.custombench $data).crud_user }}</dd>
      <dt>Duration sync</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).crud_duration }}</dd>
      <dt>Residual duration async</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).crudasync_duration }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim50crud/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim50crud/detail/index.html">» Gatling report</a>
      </dd>
    </dl>

    <a name="bench" class="suite"></a>
    <h3>Benchmark mixing actions</h3>
    <div>This simulation performs concurrently JSF navigation and CRUD in REST.</div>
    <dl>
      <dt>Throughtput</dt>
      <dd class="rps">{{ (index .Site.Data.custombench $data).bench_rps }}</dd>
      <dt>Response time</dt>
      <dd><span class="timems">{{ (index .Site.Data.custombench $data).bench_avg }}</span> <span
        class="stddev">{{ (index .Site.Data.custombench $data).bench_std }}</span>
        <div class="pill"><span>min:</span>{{ (index .Site.Data.custombench $data).bench_min }}</div>
        <div class="pill"><span>p50:</span>{{ (index .Site.Data.custombench $data).bench_p50 }}</div>
        <div class="pill"><span>p95:</span>{{ (index .Site.Data.custombench $data).bench_p95 }}</div>
      </dd>
      <dt>Requests</dt>
      <dd>{{ (index .Site.Data.custombench $data).bench_count }}</dd>
      <dt>Error</dt>
      <dd class="pcterr">{{ (index .Site.Data.custombench $data).bench_percentError }}</dd>
      <dt>Concurrency</dt>
      <dd>{{ (index .Site.Data.custombench $data).bench_user }}</dd>
      <dt>Duration</dt>
      <dd class="times">{{ (index .Site.Data.custombench $data).bench_duration }}</dd>
      <dt>Reports</dt>
      <dd>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim50bench/overview/index.html">» Overview and monitoring</a>
        <a class="tag" target="_blank"
          href="https://benchmarks.nuxeo.com/build/custom/{{ $data }}/gatling1/sim50bench/detail/index.html">» Gatling report</a>
      </dd>
    </dl>


  </div>
  {{ if and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "") }}
  <h2>Comments</h2>
  {{ partial "disqus" . }}
  {{ end }}
</div>

</body>
