@charset 'utf-8';

@import 'settings';
@import 'components/layout_helpers';
@import 'components/typography';

a,
a img,
.button.button--arrow {
  border: 0 !important;
  transition: filter 0.25s ease-out;
}

a:hover,
a:hover img,
.button.button--arrow:hover {
  background: inherit;
  border: 0 !important;
  filter: contrast(0.85);
}

.is-black {
  color: $c-black;
}

.is-bg-blue,
.is-bg-blue.button {
  background-color: $c-blue !important;
  color: $c-white !important;
}

.is-bg-purple,
.is-bg-purple.button {
  background-color: $c-purple !important;
  color: $c-white !important;
}

.is-bg-aqua,
.is-bg-aqua.button {
  background-color: $c-aqua !important;
  color: $c-white !important;
}

.is-bg-blue-light {
  background-color: $c-light-blue;
}

.is-bg-green {
  background-color: $c-green;
}

.is-bg-aqua-light {
  background-color: $c-light-aqua;
}

.is-bg-grey {
  background-color: $c-grey;
}

.item-label {
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
}

.button.button--arrow {
  border-radius: $cta-radius;
  font-size: 1.125rem;
  font-weight: $weight-bold;
  line-height: 50px !important;
  max-width: 310px;
  min-height: 50px;
  padding: 0 !important;
  position: relative;
  transition: all 0.2s ease !important;
  width: 100%;

  &::after {
    border: 0;
    border-bottom-right-radius: $cta-radius;
    border-top-right-radius: $cta-radius;
    content: '\2192';
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 50px;
  }

  &.is-bg-blue::after {
    background: $c-grey;
    color: $c-blue;
  }

  &.is-bg-aqua::after {
    background: $c-white;
    color: $c-aqua;
  }

  &.is-bg-purple::after {
    background: $c-grey;
    color: $c-purple;
  }
}

.blog__author,
.blog__date {
  font-size: 12px;
  font-weight: $weight-roman;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.blog__author {
  color: $c-blue;
}

.blog__date {
  color: $c-grey-3;
}

.boxes {
  > .box {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    transition: all 0.2s ease;
  }

  .more {
    font-size: 0.75rem;
    font-weight: $weight-roman;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.blog-section .box {
  padding: 0;

  & .box__content {
    margin: 1.5rem;

    &.box__content--last {
      margin-top: 0;
    }
  }
}

@media screen and #{breakpoint(large)} {
  .large-text-right {
    text-align: right;
  }

  .large-text-left {
    text-align: left;
  }
}
