@charset 'utf-8';

@import 'settings';

$info-border: $c-navy;
$info-background: $c-blue;
$c-placeholder: rgba($c-menu-black, 0.4);

/* stylelint-disable selector-no-qualifying-type, selector-class-pattern, selector-max-compound-selectors, no-descending-specificity */
.form-sec .mktoForm {
  * {
    font-family: $font-primary !important;

    @supports (font-variation-settings: normal) {
      font-family: $font-primary-var !important;
    }
  }

  .mktoForm--hidden {
    display: none;
  }
}
.form-sec.marketo-update .mktoForm {
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 0;
  // Fix space after banner
  padding-top: 5px;
  position: relative;
  width: 100% !important;

  .mktoFormCol {
    float: none;
    margin: 0 !important;
    min-height: 0;
    width: auto !important;
  }

  fieldset {
    border: 0;
    margin-top: 2rem;

    > legend {
      color: $c-black;
      font-size: $font-size-5;
      font-weight: $weight-bold;
      margin: 0;
      padding: 2rem 0 0;
    }
  }

  .mktoField {
    color: $c-menu-black;
    font-size: $font-size-1 !important;
    font-style: normal;
    max-width: 600px !important;
    width: 100% !important;

    &[type='checkbox'],
    &[type='radio'] {
      width: auto !important;
    }
  }

  textarea.mktoField,
  select.mktoField {
    appearance: none !important;

    option {
      color: $c-menu-black;;
    }
  }

  .mktoFieldWrap {
    max-width: 600px !important;
    position: relative;
    width: 100% !important;

    .mktoLabel {
      color: $c-menu-black;
      font-size: $font-size-1;
      font-weight: $weight-roman;
      line-height: 1.67;
      max-width: 98%;
      width: auto !important;

      .mktoAsterix,
      &:empty {
        display: none;
      }
    }

    .mktoCheckboxList,
    .mktoRadioList {
      align-items: center;
      clear: both;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      width: 100% !important;

      label {
        color: $c-menu-black;
        font-size: $font-size-1;
        margin-left: 0;
        padding-left: 1rem;
        transition: color 0.2s ease;
        width: calc(100% - 2rem);

        &:hover {
          color: $c-blue;
        }
      }

      // Change label colour when checkbox/radio is hovered
      input:hover + label {
        color: $c-blue;
      }

      label,
      input {
        cursor: pointer;
        margin-bottom: 0.375rem; // 6px;
      }
    }

    input {
      padding: 0.75rem 1rem !important;

      &::placeholder {
        color: $c-placeholder !important;
      }
    }

    select,
    textarea {
      font-style: normal;
      padding: 0.75rem 1rem !important;

      .ie9 & {
        background: none;
      }

      option {
        font-style: normal;

        &[value=''] {
          color: $c-placeholder;
          display: none;
        }
      }

      &::placeholder {
        color: $c-placeholder !important;
      }
    }

    select:not([multiple]) {
      appearance: none;
      background-color: $c-form-background;
      background-image: url('/assets/imgs/form-down-arrow.png');
      background-position: calc(100% - 1.1875rem) 1.1rem;
      background-repeat: no-repeat;
      background-size: 0.625rem 0.375rem;
      color: $c-menu-black;
      padding: 0.75rem 1.8rem calc(1rem - 4px) 0.75rem !important;

      &.mktoValid {
        color: $c-grey-3;
      }

      &:focus {
        outline-color: $c-grey-3;
      }
    }

    textarea {
      height: 3.2em;
      // margin-top: -0.4rem; // in modals
      resize: vertical;
    }

    .mktoHtmlText {
      width: auto !important;

      p {
        color: $c-menu-black !important;
        font-size: $font-size-0 !important;
        text-align: center;
      }
    }

    input:not([type='checkbox']):not([type='radio']),
    select,
    textarea {
      background: #e0ecfd66;
      border-bottom: 1px solid transparent;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin-bottom: 0.25rem;
      transition: all 0.2s ease;

      &:hover,
      &:focus {
        border-bottom-color: $c-grey-3;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .mktoButtonRow {
    margin-top: 1rem;
    width: 100%;
  }

  .mktoButtonWrap {
    margin-left: 0 !important;

    .mktoButton {
      background: $c-blue !important;
      border: 0 !important;
      border-radius: $cta-radius !important;
      box-shadow: none !important;
      color: $white;
      font-size: $font-size-3 !important;
      font-weight: $weight-bold;
      height: auto !important;
      line-height: 1.4;
      min-width: 150px !important;
      padding: 0.75rem 1.875rem !important;
      text-shadow: none !important;
      text-transform: none !important;
      width: 100% !important;

      &:hover {
        background: darken($c-blue, $hover-darken-percentage) !important;
      }
    }

    &.mktoDownloadButton .mktoButton:active {
      background: $c-blue !important;
    }
  }

  .mktoTemplateBox p {
    padding: 0.7em 2em;
    text-align: center;
    width: 100%;
  }

  .mktoOffset {
    height: 0;
  }

  .mktoError {
    bottom: auto !important;
    padding: 0;
    right: 0 !important;
    top: 0.1rem;
    z-index: 20;

    .mktoErrorArrow {
      background: none !important;
      // background: url('/assets/branded-icons/warning.svg') !important;
      border: 0 !important;
      // transform: none;
    }

    .mktoErrorMsg {
      background: none !important;
      border: 0 !important;
      border-radius: 0;
      box-shadow: none;
      color: $c-form-error !important;
      display: inline;
      font-size: $font-size-1;
      margin: 0;
      padding: 0;
      text-shadow: none;

      .mktoErrorDetail {
        display: inline;
        text-transform: none;
      }
    }
  }

  select,
  textarea {
    + .mktoError {
      top: -0.7rem;
    }
  }
}

/* stylelint-enable */
