<nuxeo-footer year="2017">
  <nuxeo-footer-column column-items='[[
  {"title": "Why Nuxeo?", "url": "https://nuxeo.com/why-nuxeo/"}], [
  {"title": "Contact", "url": "https://nuxeo.com/about/contact/"},
  {"title": "Request a Demo", "url": "https://nuxeo.com/about/request-demo/"}]]'></nuxeo-footer-column>
  <nuxeo-footer-column column-items='[[
  {"title": "Nuxeo Platform", "url": "https://nuxeo.com/products/content-management-platform/"},
  {"title": "Nuxeo Studio", "url": "https://nuxeo.com/products/studio/"},
  {"title": "Integrations", "url": "https://nuxeo.com/integration/"},
  {"title": "REST API", "url": "https://nuxeo.com/rest-api/"},
  {"title": "Performance & Scalability", "url": "https://nuxeo.com/products/performance/"}], [
  {"title": "Download or Online Trial", "url": "https://nuxeo.com/downloads/"}]]'></nuxeo-footer-column>
  <nuxeo-footer-column column-items='[[
  {"title": "Use Cases", "url": "https://nuxeo.com/solutions/digital-asset-management/"},
  {"title": "Document Management", "url": "https://nuxeo.com/solutions/document-management/"},
  {"title": "Digital Asset Management", "url": "https://nuxeo.com/solutions/digital-asset-management/"},
  {"title": "More Use Cases…", "url": "https://nuxeo.com/solutions/"}], [
  {"title": "Customers", "url": "https://nuxeo.com/customers/"}]]'></nuxeo-footer-column>
  <nuxeo-footer-column column-items='[[
  {"title": "Learning", "url": "https://nuxeo.com/resources/"},
  {"title": "Reports", "url": "https://nuxeo.com/reports/"},
  {"title": "Blog", "url": "https://nuxeo.com/blog/"},
  {"title": "University", "url": "https://university.nuxeo.io/"}], [
  {"title": "Services", "url": "https://nuxeo.com/services/"}]]'></nuxeo-footer-column>
</nuxeo-footer>
