<link rel="stylesheet" href="{{ .Site.BaseURL }}css/dist/marketo.css" />
<script defer src="{{ .Site.BaseURL }}js/forms.js"></script>

<div class="form-sec marketo-update">
  <form id="mktoForm_1840">
    <div class="text-center mktoForm--hidden strong">
      <p>Disable any Ad-blockers to enable the form or <a href="https://www.nuxeo.com/contact">contact us</a></p>
    </div>
  </form>
  <script src="https://forms.nuxeo.com/js/forms2/js/forms2.min.js"></script>
  <script>
    // Set message relay for XDFrame
    MktoForms2.setOptions({
      formXDPath: "/rs/498-JDO-611/images/marketo-xdframe-relative.html"
    });
    MktoForms2.loadForm("https://forms.nuxeo.com", "498-JDO-611", 1840);
  </script>
</div>
