<style type="text/css" class="cp-pen-styles">@charset "UTF-8";
.form-sec .mktoForm {
  max-width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 1rem;
  position: relative;
  width: 100% !important;
}
.form-sec .mktoForm .mktoFormCol {
  margin: 0;
  float: none;
  width: auto !important;
}
.form-sec .mktoForm .mktoField {
  color: #1F28BF;
  width: 100% !important;
  font-size: 18px !important;
  font-style: normal;
  max-width: 400px !important;
}
.form-sec .mktoForm .mktoField[type='checkbox'], .form-sec .mktoForm .mktoField[type='radio'] {
  width: auto !important;
}
.form-sec .mktoForm textarea.mktoField,
.form-sec .mktoForm select.mktoField {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
}
.form-sec .mktoForm textarea.mktoField option,
.form-sec .mktoForm select.mktoField option {
  color: #1F28BF;
}
.form-sec .mktoForm .mktoFieldWrap {
  position: relative;
  width: 100% !important;
  max-width: 400px !important;
}
.form-sec .mktoForm .mktoFieldWrap label {
  color: #0067FF;
  max-width: 90%;
}
.form-sec .mktoForm .mktoFieldWrap .mktoLabel {
  background: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  left: 11px;
  padding: 0 5px;
  position: absolute;
  top: 1.1rem;
  transition: all 0.2s ease, left 0.2s ease, font-size 0.2s ease;
  width: auto !important;
}
/* .is-bg-grey .form-sec .mktoForm .mktoFieldWrap .mktoLabel {
  background: #F5F5F5;
} */
.form-sec .mktoForm .mktoFieldWrap .mktoLabel .mktoAsterix {
  float: right;
  padding: 0 0 0 0.5em;
}
.form-sec .mktoForm .mktoFieldWrap .mktoHtmlText,
.form-sec .mktoForm .mktoFieldWrap .mktoCheckboxList {
  width: auto !important;
}
.form-sec .mktoForm .mktoFieldWrap.mktoRequiredField .mktoCheckboxList label {
  padding-left: 12px;
}
.form-sec .mktoForm .mktoFieldWrap input,
.form-sec .mktoForm .mktoFieldWrap select,
.form-sec .mktoForm .mktoFieldWrap textarea {
  height: auto;
  line-height: 1.2em;
}
.form-sec .mktoForm .mktoFieldWrap input.mktoInvalid ~ .mktoLabel,
.form-sec .mktoForm .mktoFieldWrap select.mktoInvalid ~ .mktoLabel,
.form-sec .mktoForm .mktoFieldWrap textarea.mktoInvalid ~ .mktoLabel {
  color: #FF0044;
}
.form-sec .mktoForm .mktoFieldWrap input {
  border: 1px solid #BCBFBF;
  padding: 1rem !important;
}
.form-sec .mktoForm .mktoFieldWrap input:focus ~ .mktoLabel, .form-sec .mktoForm .mktoFieldWrap input.filled ~ .mktoLabel {
  font-size: 0.8em;
  left: 0.5rem;
  top: -0.4rem;
}
.form-sec .mktoForm .mktoFieldWrap input[type='checkbox'] {
  position: absolute;
  top: calc(50% - 7px);
}
.form-sec .mktoForm .mktoFieldWrap select, .form-sec .mktoForm .mktoFieldWrap textarea {
  border: 1px solid #BCBFBF;
  font-style: normal;
  padding: 1rem !important;
}
.ie9 .form-sec .mktoForm .mktoFieldWrap select,
.ie9 .form-sec .mktoForm .mktoFieldWrap textarea {
  background: none;
}
.form-sec .mktoForm .mktoFieldWrap select option, .form-sec .mktoForm .mktoFieldWrap textarea option {
  font-style: normal;
}
.form-sec .mktoForm .mktoFieldWrap select option[value=''], .form-sec .mktoForm .mktoFieldWrap textarea option[value=''] {
  display: none;
}
.form-sec .mktoForm .mktoFieldWrap select ~ .mktoLabel, .form-sec .mktoForm .mktoFieldWrap textarea ~ .mktoLabel {
  font-size: 0.8em;
  left: 0.5rem;
  top: -0.4rem;
}
.form-sec .mktoForm .mktoFieldWrap select:not([multiple]) {
  background: url("https://www.nuxeo.com/assets/imgs/i1503128427616_select-arrow.png") no-repeat;
  background-position: 99% center;
  background-size: 14px;
}
.form-sec .mktoForm .mktoFieldWrap .mktoError {
  left: 0;
  margin-left: 1rem;
  right: auto !important;
}
.form-sec .mktoForm .mktoFieldWrap .mktoError .mktoErrorArrow {
  background: #0067FF;
  border-color: #1F28BF;
}
.form-sec .mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg {
  background: #0067FF;
  border: 1px solid #1F28BF;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
}
.form-sec .mktoForm input::-webkit-input-placeholder {
  opacity: 0;
}
.form-sec .mktoForm input:-ms-input-placeholder {
  opacity: 0;
}
.form-sec .mktoForm input::-ms-input-placeholder {
  opacity: 0;
}
.form-sec .mktoForm input::placeholder {
  opacity: 0;
}
.form-sec .mktoForm .mktoButtonWrap .mktoButton {
  background-image: none !important;
  border: none !important;
  border-radius: 35px !important;
  box-shadow: none !important;
  color: #fff;
  font-size: 15px !important;
  font-weight: bold;
  height: auto !important;
  margin: 28px auto 0;
  min-width: 217px !important;
  padding: 10px 0 !important;
  text-shadow: none !important;
  text-transform: none !important;
  width: auto !important;
}
.form-sec .mktoForm .mktoButtonWrap .mktoButton:hover {
  background-color: #0067FF !important;
}
.form-sec .mktoForm .mktoButtonWrap.mktoDownloadButton .mktoButton:active {
  background: #0067FF !important;
}

.form-sec .mktoForm .form-progress {
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid #BCBFBF;
  bottom: 5px;
  color: #0067FF;
  display: inline-block;
  font-size: 0.8rem;
  right: 1.5rem;
  padding: 0 0.5em;
  position: absolute;
  z-index: 5;
}

.form-sec .mktoForm .form-progress .form-percentage {
  border-bottom: 2px solid #0067FF;
  bottom: -2px;
  content: '';
  width: 0%;
  position: absolute;
  left: 0;
  transition: width 0.4s ease;
}

.form-sec .mktoForm .form-progress.complete .form-percentage {
  border-color: #090;
}
</style>

<script type="text/javascript">
'use strict';

var attempt_number = 0;
var marketo_interval = setInterval(function () {
  if (!$) {
    return false;
  }

  var $marketo_update = $('.form-sec');
  // Put label after the input element
  if ($marketo_update.length && $marketo_update.find('label').length) {
    clearInterval(marketo_interval);
    $marketo_update.find('label').each(function (i, e) {
      var $label = $(e);
      // Remove gutter div - not necessary
      $label.siblings('.mktoGutter').remove();
      var $input = $label.siblings('.mktoField');
      var $temp = $('<div>');

      // 3-step swap
      $input.before($temp);
      $label.before($input);
      $temp.after($label).remove();
    });

    var $form = $marketo_update.find('form');

    $form.append('<div class="form-progress"><span class="form-status"></span><span class="form-percentage"></span></div>');

    var $container = $form;

    var $progress = $container.find('.form-progress');
    var $status = $container.find('.form-status');
    var $percentage = $container.find('.form-percentage');

    var $all_inputs = $form.find('.mktoField').not(':hidden,[type="checkbox"]');
    var total_inputs = $all_inputs.length;
    var status_update = function status_update() {
      var completed_inputs = $all_inputs.filter('.mktoValid').length;
      var percentage = (completed_inputs / total_inputs * 100).toFixed(0) + '%';
      $status.text(completed_inputs + ' of ' + total_inputs + ' answered');
      $percentage.css('width', percentage);
      if (percentage === '100%') {
        $progress.addClass('complete');
      } else {
        $progress.removeClass('complete');
      }
    };

    $form.on('change blur', 'input, select', function () {
      var $this = $(this);
      if ($this.val() !== '') {
        $this.addClass('filled');
      } else {
        $this.removeClass('filled');
      }
    }).on('keyup change blur click', '.mktoField', status_update);

    status_update();
  } else if (attempt_number++ > 20) {
    clearInterval(marketo_interval);
  }
}, 200);
</script>

<div class="form-sec">
  <script src="//app-abk.marketo.com/js/forms2/js/forms2.min.js"></script>
  <form id="mktoForm_1840"></form>
  <script>MktoForms2.loadForm("//app-abk.marketo.com", "498-JDO-611", 1840);</script>
</div>
