<div class="sidebar">
  <div class="container sidebar-sticky">
    <ul class="sidebar-nav">
      <li>
        <ul>
          <li><a href="{{ .Site.BaseURL }}milestone/">Milestones</a></li>
          <li><a href="{{ .Site.BaseURL }}continuous/">Continuous</a></li>
          <li><a href="{{ .Site.BaseURL }}misc/">Misc</a></li>
          <li><a href="{{ .Site.BaseURL }}workbench/">Workbench</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}infra/">Infrastructure</a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}scenarios/">Scenarios</a>
      </li>
    </ul>
  </div>
</div>
