{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} home">
{{ partial "header.html" . }}

<div class="is-bg-white is-black">
  <div class="row align-center background-for-medium" style="background-image: url('/images/home-illustration.svg');background-size: contain;background-repeat: no-repeat;background-position: center;">
    <div id="home" class="column space-3 large-10 large-centered">
      <div class="text-center">
        <h1 class="display">Nuxeo Performance Benchmarks</h1>
        <p>
          We're open and transparent.
          <br>
          We've tested our platform in rigorous scenarios, and we're confident that we're the most performant Content Services Platform on the market.
        </p>
      </div>
      <div class="boxes boxes--3">
        <a class="box no-decoration is-bg-purple" href="/milestone/">
            <div class="box__content">
              <h4>Milestones</h4>
              <p>
                For each release of the Nuxeo Platform, we run new benchmarks and analyze performance results. You can have a look here at all the results sets from the latest releases.
              </p>
            </div>
            <div class="more box__content box__content--last">Milestones Benchmarks</div>
        </a>
        <a class="box no-decoration is-bg-blue" href="/continuous/">
            <div class="box__content">
              <h4>Continuous Integration</h4>
              <p>
                Every week our CI chain runs a benchmark on the master branch with various configurations. Check out our weekly results here.
              </p>
            </div>
            <div class="more box__content box__content--last">Continuous Benchmarks</div>
        </a>
        <a class="box no-decoration is-bg-aqua" href="/infra/">
            <div class="box__content">
              <h4>Infrastructure</h4>
              <p>
                We're transparent about everything. And here you will find our provisioned benchmark infrastructure and the reference benchmarks simulations.
              </p>
            </div>
            <div class="more box__content box__content--last">Benchmarks Infrastructure</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="is-bg-black is-white">
  <div class="row align-center is-bg-black is-white">
    <div class="column space-3 large-10">
      <div class="row is-bg-black is-white align-center align-middle">
        <div class="column space-3 small-12 large-2 large-centered">
          <div class="row is-bg-black is-white">
            <div class="column small-12 text-center">
              <img src="/images/11b-whitepaper@2x.png" alt="Benchmarking a Content Services Platform at 11 Billion Documents" height="160" style="max-height: 300px;">
            </div>
          </div>
        </div>
        <div class="column small-12 large-10 large-centered">
          <div class="row is-bg-black is-white space-bottom-3 align-center text-center">
            <div class="column space-top-3 small-12 large-9 large-text-left">
              <h2>Benchmarking a Content Services Platform at 11 Billion Documents</h2>
            </div>
            <div class="column space-top-3 small-12 large-3 large-text-right">
              <a href="https://www.nuxeo.com/resources/benchmarks-11b/" class="button is-bg-blue">Get the PDF</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="is-bg-grey is-black">
  <div class="row align-center">
    <div class="column space-3 large-10 large-centered">
      <h2>Latest blog posts</h2>
      <div class="boxes boxes--3 blog-section"></div>
    </div>
  </div>
</div>

<div class="is-bg-aqua-light is-black">
  <div class="row align-center is-bg-aqua-light is-black">
    <div class="column large-8 large-centered space-3">
      <div class="row small-text-center-only is-bg-aqua-light">
        <div class="column small-12 medium-6">
          <h2 class="space-top-2">About Nuxeo</h2>
          <p class="medium-9">
            We're focused on creating the world's most flexible, scalable Content Services Platform. We help out customers build applications that take advantage of the latest technologies and content methodologies. To achieve this, we built a platform and intuitive tools to make it easy for you to quicky build the applications you need to soolve even your most complex content challenges.
          </p>
        </div>
        <div class="column small-12 medium-6">
          <div class="column space-top-3">
            <a href="https://www.nuxeo.com/about/why-nuxeo/" class="button button--arrow is-bg-aqua">Our Vision</a>
          </div>
          <div class="column space-top-2 space-bottom-2">
            <a href="https://www.nuxeo.com/about/" class="button button--arrow is-bg-aqua">Our Mission</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="is-bg-white is-black">
  <div class="row align-center is-black">
    <div class="column large-8 large-centered space-3">
      <div class="row small-text-center-only">
        <div class="column small-12 medium-6">
          <h2 class="space-top-2">Want to go Further</h2>
          <p class="medium-9"></p>
        </div>
        <div class="column small-12 medium-6">
          <div class="column space-top-3">
            <a href="https://www.nuxeo.com/request-demo/" class="button button--arrow is-bg-blue">Request a demo</a>
          </div>
          <div class="column space-top-2 space-bottom-2">
            <a href="https://www.nuxeo.com/contact/" class="button button--arrow is-bg-blue">Contact Us</a>
          </div>
          <div class="column space-top-2 space-bottom-2">
            <a href="https://www.nuxeo.com/downloads/" class="button button--arrow is-bg-blue">Download the Nuxeo Platform</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
</body>
</html>
