{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">

{{ partial "sidebar.html" . }}

<div class="content container">
  <ul class="posts">
    {{ range .Data.Pages.GroupByParam "benchname" }}
    <h3>{{ .Key }}</h3>
    <table>
      <thead>
        <th>Profile</th>
        <th>Import docs/s</th>
        <th>Create doc/s</th>
        <th>Navigation req/s</th>
        <th>Update doc/s</th>
        <th>Read/Write req/s</th>
        <th>Re-indexing in ms</th>
        <th>Build</th>
      </thead>
      {{ range .Pages }}
        {{ .Render "summary_row" }}
      {{ end }}
    </table>
    {{ end }}
  </ul>
</div>
</body>
</html>
