{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">

{{ partial "sidebar.html" . }}

<div class="content container">
  <ul class="posts">
    {{ range .Data.Pages.GroupByParam "benchname" }}
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Params.dbprofile }} {{ .Params.classifier}}</a>
        <div class="meta">{{ .Date.Format "Mon, Jan 2,  2006" }}</div>
      </li>
      {{ end }}
    </ul>

    {{ end }}
  </ul>
</div>
</body>
</html>
