{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">

{{ partial "sidebar.html" . }}

<div class="content container">
  <ul class="posts">
    {{ range (.Data.Pages.GroupByParam "benchname").Reverse }}
    <h3>{{ .Key }}</h3>
    <table>
      <thead>
      <th>Profile</th>
      <th class="rotate"><div><span>Import rps</span></div></th>
      <th class="rotate"><div><span>Create rps</span></div></th>
      <th class="rotate"><div><span>Create avg</span></div></th>
      <th class="rotate"><div><span>Navigation rps</span></div></th>
      <th class="rotate"><div><span>Navigation avg</span></div></th>
      <th class="rotate"><div><span>Update rps</span></div></th>
      <th class="rotate"><div><span>CRUD rps</span></div></th>
      <th class="rotate"><div><span>Re-indexing in ms</span></div></th>
      <th class="rotate"><div><span>Build</span></div></th>
      </thead>
      {{ range .Pages.ByTitle }}
      {{ .Render "summary_row" }}
      {{ end }}
    </table>
    {{ end }}
  </ul>
  <dl>
    <dt>rps</dt>
    <dd>Requests per second or documents created per second</dd>
    <dt>avg<dt>
    <dd>Average response time in milli seconds with standard deviation</dd>
  </dl>
</div>
</body>
</html>
