{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
{{ partial "header.html" . }}
<div class="hero row padded is-bg-blue is-white">
  <div class="large-8 medium-10 small-12 columns">
    <h1>Custom Benchmarks results</h1>
    <p class="larger is-white">
      Here are adhoc benchmark to test different limits.
    </p>
  </div>
</div>

<div class="row is-bg-grey is-black paddedt1 blog-section">
  <div class="small-12 columns">
    <div class="content container">
      {{ partial "custombenchsuite.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}

</body>
</html>
