{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
{{ partial "header.html" . }}
<div class="hero row cover padded1 is-bg-blue is-white" style="background-image: url('https://res.cloudinary.com/nuxeo/image/upload/w_1600,h_400,q_auto:eco,c_fill,g_center,dpr_auto,f_auto/backgrounds/duotone9');">
  <div class="large-8 medium-10 small-12 columns">
    <h1>Custom Benchmarks results</h1>
    <p class="larger is-white">
      Here are adhoc benchmark to test different limits.
    </p>
  </div>
</div>

<div class="row is-bg-grey is-navy paddedt1 blog-section">
  <div class="small-12 columns">
    <div class="content container">
      {{ partial "custombenchsuite.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}

</body>
</html>
