{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
{{ partial "header.html" . }}

<div class="hero row cover padded1 is-bg-blue is-white" style="background:  linear-gradient( rgba(0, 103, 255, 0.7), rgba(0, 103, 255, 0.7) ), url('https://res.cloudinary.com/nuxeo/image/upload/f_auto,q_auto:eco/v1528141049/backgrounds/nuxeo-bg-45.jpg');">
  <div class="large-8 medium-10 small-12 columns">
    <h1>Milestone Benchmarks results</h1>
    <p class="larger is-white">
      Here are the Benchmarks results for the main Nuxeo releases. You can click on the link of the first cell on each row to have the complete resultset of the corresponding benchmark.
    </p>
  </div>
</div>

<div class="row is-bg-grey is-navy paddedt1 blog-section">
  <div class="small-12 columns">
    <div class="content container">
      {{ partial "benchsuite.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}

</body>
</html>
