name: Build and Deploy Nuxeo Benchmarks

on:
  push:
    branches:
      - master
  workflow_dispatch:  # Manual triggering
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name == 'master' && 'master' || 'development' }}
   
    steps: 
    - name: Install SSH key for Bastion
      uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4
      with:
        key: ${{ secrets.DEV_TOOLS_BASTION_PRIVATE_KEY }}
        name: id_rsa-bastion
        known_hosts: ${{ secrets.KNOWN_HOSTS_OF_BASTION }}
        config: ${{ secrets.CONFIG }}
  
    - name: Install SSH key of Lethe server
      uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4
      with:
        key: ${{ secrets.DEV_TOOLS_EC2_PRIVATE_KEY }}
        name: id_rsa-target
        known_hosts: ${{ secrets.KNOWN_HOSTS_OF_TARGET }}
        config: ${{ secrets.CONFIG }}
    - name: Ensure target directory exists
      run: |
        ssh lethe.nuxeo.com "sudo mkdir -p /var/www/nuxeo.com/benchmarks/"

    - name: Clean directory
      run: |
        ssh -o StrictHostKeyChecking=no lethe.nuxeo.com "sudo rm -rf resources/ public/"

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: Build Site
      uses: chabad360/hugo-actions@3a5b10adf0b017f695597e22ebcb79e40fd6cb4e #v2
      with:
        buildPath: 'public'
        hugoVersion: 'extended_0.80.0'
        args: -t hyde

    - name: upload artificate
      uses: actions/upload-artifact@v4
      with: 
        name: benchmarks-artifact
        path: ${{ github.workspace }}/public
    
    - name: Set up SSH
      uses: webfactory/ssh-agent@d4b9b8ff72958532804b70bbe600ad43b36d5f2e  #v0.8.0
      with:
        ssh-private-key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}     

    - name: Rsync to Server
      run: |
        rsync -rcl --delete --rsync-path="sudo rsync" ${{ github.workspace }}/public/ \
        "lethe.nuxeo.com:/var/www/nuxeo.com/benchmarks"
